<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Invitation to activate your LuxTrust certificate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Dear User,
<br/><br/>
Your LuxTrust certificate has been successfully generated.<br/>
In a few minutes, you will find your LuxTrust codes in a SMS sent by LuxTrust. You will be asked to provide these codes during the activation stage.<br/>
<b>LuxTrust Token</b><br/>
If not yet provided, you will receive your Token by Post within the next three working days.<br/>
Once you have your Token and LuxTrust codes, enter <a th:href="@{http://activate.luxtrust.lu}">activate.luxtrust.lu</a> in your navigator and follow the procedure.<br/>
Once activated, your certificate can be directly used to securely log in to your banking or online applications, or to electronically sign documents.<br/>
<b>LuxTrust Mobile</b><br/>
Once you have your LuxTrust codes, download the LuxTrust Mobile App from the Apple Store or Google Play. Launch the LuxTrust Mobile App on your smartphone or tablet, click on ‘Start activation’ and follow the activation procedure.<br/>
Once activated, your certificate can be directly used to securely log in to your banking or online applications, or to electronically sign documents.
<br/>
<br/>
<br/>
Need help?<br/>
Check the online help section at <a href="@{http://support.luxtrust.lu}">http://support.luxtrust.lu</a> or contact our customer service desk (+352) 24 550 550.
<br/>
<br/>
Thank you for your trust,<br/>
LuxTrust management
<br/>
<br/>
<br/>
Cher Utilisateur,
<br/><br/>
Votre certificat LuxTrust a été généré avec succès.<br/>
Vous allez recevoir d'ici quelques minutes les LuxTrust codes par SMS. Ces codes vous seront demandés lors de l'activation.<br/>
<b>Token LuxTrust</b><br/>
Si non encore fourni, vous allez recevoir votre Token par voie postale dans les 3 jours ouvrables.<br/>
Muni de votre Token et de vos LuxTrust codes, allez sur <a th:href="@{http://activate.luxtrust.lu}">activate.luxtrust.lu</a> et poursuivez le processus d'activation.<br/>
<b>LuxTrust Mobile</b><br/>
Muni de vos LuxTrust codes, téléchargez la LuxTrust Mobile App de l'Apple Store ou de Google Play. Après installation, démarrez l'activation  directement à partir de votre smartphone/tablette.<br/>
Une fois activé, votre certificat peut être directement utilisé pour vous connecter en toute sécurité à vos applications bancaires ou en ligne ou encore pour signer des documents.
<br/>
<br/>
<br/>
Besoin d'aide ?<br/>
Consultez la rubrique d'aide en ligne sur <a href="@{http://support.luxtrust.lu}">http://support.luxtrust.lu</a> ou contactez notre Customer Service Desk (+352) 24 550 550.
<br/>
<br/>
Nous vous remercions pour votre confiance,<br/>
La direction de LuxTrust
</body>
</html>